<LinkTo @route="products.product" @model={{@product.id}} class="card">
  <img src={{@product.image}} alt={{@product.title}} />
  <h3>{{@product.title}}</h3>
  <p class="price">${{@product.price}}</p>
</LinkTo>