<span class="tooltip-wrapper">
  <span
    class="tooltip-trigger"
    tabindex="0"
    {{on "mouseenter" this.show}}
    {{on "mouseleave" this.hide}}
    aria-describedby={{if this.visible this.tooltipId undefined}}
  >
    {{yield to="trigger"}}
  </span>

  <div
    id={{this.tooltipId}}
    class="tooltip-content"
    role="tooltip"
    aria-hidden={{if this.visible "false" "true"}}
  >
    {{yield to="content"}}
  </div>
</span>